body{
    background-color:#fffffa;
}

.navbar-menu{
    font-size: 3rem;
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 400;   
    font-style: normal;
    margin:none;
    padding:10px;
    overflow:auto;
    display: flex;
    flex-direction:row;
}

.navbar-menu a{
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    color: #474747;
}
main{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:30px;
}

.intro{
    font-family: rig-shaded-bold-face, sans-serif;
    font-weight: 2000;
    font-size: 10rem;
    font-style: normal;
    text-align:center;
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color:#ff005d;
 }
.navigation-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.navigation-name {
    text-decoration: none;
    font-size:2rem;
    font-family:rig-shaded-bold-face, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-display: none;
    color: rgb(41,41,41,0);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.navigation-name:hover{
    transform:translateY(102px);
    color: rgb(41,41,41,100);
}
.navigation-image{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    max-width: 25%;
    transform: translateZ(-1px);
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.navigation-image img{
    width:100%;
    padding:10px;
    flex-grow: 1;
	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.navigation-image img:hover {
	-webkit-filter: blur(2.5px);
    filter: blur(2.5px);
}



/* PARALLAX CLASS */
.content{
    align-self: flex-end;
    flex-grow: 3;
    display:flex;
    flex-direction: column;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;   
    background-color:#fffcf2;
}
.tagline{
    font-size:7rem;
    font-family:rig-shaded-bold-face, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    transform: translateZ(-1px);
    z-index:-100;
}

.face-image{
    margin:auto;
} 

.face-image img{
    width:700px;
    z-index:5000;
}

.content h1{
    font-family: rig-shaded-bold-face, sans-serif;
    font-weight: 2000;
    font-size: 10rem;
    font-style: normal;
    text-align:center;
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color:#ff005d;
 }

 .date{
    font-size:3rem;
    font-family:rig-shaded-medium-face, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color:#ffc800;
}
 
.images-container{
    display:flex;
    flex-direction:column;
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.main-pictures{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    transform: translateZ(0px);
    z-index: -100;
    /* background-color:#ffffeb;  */    

}

.main-pictures img{
    flex-grow: 1;
    width:20%;
    padding:0.5rem;
}


/* PARALLAX TOPMOST LAYER */
.description{
    margin:none;
    font-family: rig-shaded-light-face, sans-serif;
    font-weight: 300;   
    font-style: normal;
    font-size:2rem;
    transform: translateZ(-1px);
    z-index: 100;
 /* background-color:#ffe9db; */
}

.highlight{
    padding:7rem;
   transform: scale(2);
}

.video-container{
    /* margin-left: auto;
    margin-right: auto; */
    margin:auto;
    margin-top:10rem;
    transform: translateZ(-1px) scale(2);
}

.video-container iframe{
    align-content: center;
    /* height:640px;
    width:360px; */
    height:360px;
    width:640px;
    border:none;
    background-color:black;
}

.process-link{
    text-align: center;
}

.process-link a{
    font-family: rig-shaded-bold-face, sans-serif;
    font-weight: 2000;
    font-size: 6rem;
    text-decoration: none;
    color: #ff005d;
}

.process-link a:hover{
    font-family:rig-shaded-medium-extrude, sans-serif;
}

footer{
    display:flex;
    flex-direction: column;
}

.my-work{
    font-size: 3rem;
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 400;   
    font-style: normal;
    margin:none;
    padding:100px;
    text-align: center;
    text-decoration: none;
    color: #ff005d;
    
}
