body{
    /* background-color:#fffcf2; */
    /* background-color:#ffe9db;  */
    /* background-color:#ffffeb;  */
    background-color: #fcfffe;
    margin:30px;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar-menu{
    font-size: 3rem;
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 400;   
    font-style: normal;
    margin:none;
    padding:10px;
    overflow:auto;
    display: flex;
    flex-direction:row;
}

.navbar-menu a{
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    color: #474747;
    /* color: #fffcf2; */
    color: transparent;
    -webkit-text-stroke-width: 1.5px; 
    -webkit-text-stroke-color:#474747;
    transition: all 0.3s ease-in;
}

.navbar-menu a:hover{
    transform: translateY(-5px);
    color: #474747;
}

     /* HOVER ANIMATIONS FOR NAVBAR */

.navbar-menu .current{
    color: #03ffcd;
    -webkit-text-stroke-width: 0px; 

}


.content{
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display:flex;
    flex-direction: column;
    perspective: 1px;
    height: 100vh;
    width: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 90vh;
    transform-style: preserve-3d;
}

.animate1{
    font-family: rig-shaded-bold-face, sans-serif; 
   font-weight: 2000;
    font-size: 10rem;
    font-style: normal;
    text-align:center;
    transform: translateZ(-2px) scale(3) ;
    /* color: #474747; */
    color:#292929;
    transition: all 0.3s linear;
}

.animate2{
    background-color:red;
    /* font-size: 0rem; */
}

.content p{
    font-family: rig-shaded-light-face, sans-serif;
    font-size: 6rem;
    font-weight: 300;   
    font-style: normal;
    /* line-height: 2rem; */
    line-height: 4.5rem;
    /* letter-spacing: 0.05rem; */
 }

footer{
    display:flex;
    flex-direction: column;
}

.my-work{
    font-size: 3rem;
    font-family: balboa-plus-fill, sans-serif;
    font-weight: 400;   
    font-style: normal;
    margin:none;
    /* padding:100px; */
    text-align: center;
    text-decoration: none;
    color: #ff005d;
}

.work-categories{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    padding:20rem;
    flex-grow:1;
    /* padding-left: 7rem; */
    align-self: center;
    transform: translateZ(0px);
}

.work-categories a{
    font-size:7rem;
    /* font-family: balboa-plus-primary, sans-serif; */
    font-family:rig-shaded-bold-face, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* text-align: center; */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    z-index:-2;
}

.work-categories a:hover{
    /* font-family:rig-shaded-medium-extrude, sans-serif; */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color:#292929;
    transform: translateX(2px);
    color: transparent;
}

.installation{
    color:#ffc800;
    background:url("https://media.giphy.com/media/CYZc66zEvcJBuyYbu9/giphy.gif");
    background-size: auto;
    background-position: top left;
    -webkit-background-clip: text;
}

/* .installation:hover{
    transform: translateZ(20px);
} */

.speculative{
    color:#ff005d;
    background:url("https://media.giphy.com/media/6c3ueEM2eN4fS/giphy.gif");
    background-size: auto;
    background-position: top left;
    -webkit-background-clip: text;
}

.characters{
    color: #03ffcd;
    background:url("https://media.giphy.com/media/XGP7mf38Vggik/giphy.gif");
    background-size: auto;
    background-position: top left;
    -webkit-background-clip: text;
}

.illustration{
    color:#292929;
    background:url("https://media.giphy.com/media/OJp5pne69OeY/giphy.gif");
    background-size: auto;
    background-position: top left;
    -webkit-background-clip: text;
}


.banner{
    font-family: rig-shaded-bold-face, sans-serif; 
   font-weight: 2000;
    font-size: 10rem;
    font-style: normal;
    text-align:center;
    transform:translateX(-500px) translateZ(-3px);
    transition: all 0.3s linear;
    z-index:-10;
    color:transparent;

}

.banner1{
    position:absolute;
    /* color: #ff005d; */
    transform:translateY(calc(var(--mouse-y))) translateZ(-1px) scale(2);
    -webkit-text-stroke-width: 1.5px; 
   
    -webkit-text-stroke-color:#03ffcd;
    /* transform:translateX(calc(var(--mouse-x)*-0.2)); */
}
.banner2{
    position:absolute;
    /* color: #ffc800; */
    /* transform:translateX(2px) translateY(2px); */
    transform:translateY(calc(var(--mouse-y)*2)) translateZ(-2px) scale(3);
    z-index:7;
    -webkit-text-stroke-width: 1.5px; 

    -webkit-text-stroke-color:#ffc800;

    /* transform:translateX(calc(var(--mouse-x)*-0.5)); */


}
.banner3{
    position:absolute;
    /* color: #03ffcd; */
    /* transform:translateX(4px) translateY(4px) translateZ(-10px); */
    transform: translateY(calc(var(--mouse-y)*4)) translateZ(-3px) scale(4);
    z-index:4;
    -webkit-text-stroke-width: 1.5px; 

    -webkit-text-stroke-color:#474747;

    /* transform:translateX(calc(var(--mouse-x)*-0.8)); */


}
.banner4{
    position:absolute;
    /* color: #ff005d; */
    /* transform:translateX(6px) translateY(6px); */
    transform: translateY(calc(var(--mouse-y)*6))translateZ(-4px) scale(5);
    z-index:2;
    -webkit-text-stroke-width: 1.5px; 

    -webkit-text-stroke-color:#ff005d;

    /* transform:translateX(calc(var(--mouse-x)*-1)); */


}